<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta 2: Fideos con Pollo y Crema</title>
</head>
<body>
    <h1>Receta de: Fideos con Pollo y Crema</h2>
    <p>Aprovechamos esas partes del pollo que no usamos para las milanesas, junto con una pasta exquisita muy fácil de preparar.</p>

    <hr>
    <h2>Ingredientes a usar:</h2>
    <ul>
        <li>1 paq. Fideos Spaghetti</li>
        <li>200 ml Crema de leche</li>
        <li>Queso en hebras (a gusto)</li>
        <li>2 Pechugas de pollo</li>
        <li>Perejil</li>
        <li>1 Cebolla</li>
        <li>1 Ajo</li>
        <li>Pimienta a gusto</li>
    </ul>
    <h2>Pasos a seguir:</h2>
    <ol>
        <li>Hervir agua en una olla y colocar los fideos.</li>
        <li>Por otro lado mientras los fideos se van cocinando preparamos una sartén con un chorrito de aceite.</li>
        <li>En esta colocamos la cebolla ya picada, el ajo y también las pechugas cortadas. Dejar que se cocine.</li>
        <li>Una vez cocinado agregamos la crema de leche y el quéso en hebras hasta que se forme como una pasta.</li>
        <li>Antes de colar los fideos sacamos un poco del agua con cuidado con un cucharón.</li>
        <li>En la sartén, ya con su preparación cocinada, agregamos los fideos ya colados y el líquido que sacamos. Esto hace que le de más cremosidad</li>
        <li>Agregamos un poco perejil y pimienta a gusto, y revolvemos</li>
    </ol>
    
    <hr>
    <a href="https://cookpad.com/ar/recetas/8891451-fideos-con-crema-y-pollo" target="_blank">Si quieres leer una receta más detallada... HAZ CLICK AQUÍ</a>
    <br>
    <a href="receta1.html" target="_blank">Si quieres leer otra receta, HAZ CLICK AQUÍ</a>
    <br>
    <a href="../../index.html">VOLVER AL INICIO</a>
</body>
</html>