<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta 2: Fideos con Pollo y Crema</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Receta de: Fideos con Pollo y Crema</h2>
    <img src="../images/fideos_con_pollo_y_crema.avif" alt="Plato con Fideos con Pollo y Crema" width="500" height="250">
    <p>Lleva el sabor a tu mesa con esta pasta con crema de leche y pollo, un plato clásico que combina la suavidad de la pasta con la cremosidad de la salsa. Una receta sencilla y rápida de preparar.</p>

    <hr>
    <h2>Ingredientes a usar:</h2>
    <ul>
        <li>1 Paq. Fideos Spaghetti</li>
        <li>200 ml Crema de leche</li>
        <li>Queso en hebras (a gusto)</li>
        <li>2 Pechugas de pollo</li>
        <li>Perejil</li>
        <li>1 Cebolla</li>
        <li>1 Ajo</li>
        <li>Pimienta a gusto</li>
    </ul>
    <h2>Pasos a seguir:</h2>
    <ol>
        <li>Hervir agua en una olla y colocar los fideos.</li>
        <li>Por otro lado mientras los fideos se van cocinando preparamos una sartén con un chorrito de aceite.</li>
        <li>En esta colocamos la cebolla ya picada, el ajo y también las pechugas cortadas. Dejar que se cocine.</li>
        <li>Una vez cocinado agregamos la crema de leche y el quéso en hebras hasta que se forme como una pasta.</li>
        <li>Antes de colar los fideos sacamos un poco del agua con cuidado con un cucharón.</li>
        <li>En la sartén, ya con su preparación cocinada, agregamos los fideos ya colados y el líquido que sacamos. Esto hace que le de más cremosidad</li>
        <li>Agregamos un poco perejil y pimienta a gusto, y revolvemos</li>
    </ol>
    <hr>

    <p>Aquí tenes un ejemplo de como hacerlo:</p>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/6Rrj1CG4ZYs?si=8ff2WV8K4ZisCwuH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <hr>
    <a href="https://cookpad.com/ar/recetas/8891451-fideos-con-crema-y-pollo" target="_blank">Si quieres leer una receta más detallada... HAZ CLICK AQUÍ</a>
    <br>
    <a href="receta1.html" target="_blank">Si quieres leer otra receta, HAZ CLICK AQUÍ</a>
    <br>
    <a href="../../index.html">VOLVER AL INICIO</a>
</body>
</html>